.dino {
    position: absolute;
    bottom: 0;
    background-image: url(assets/dino.png);
    width: 60px;
    height: 60px;
}

.cactus {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: url(assets/cactus.png);
}

.game-over {
    text-align: center;
    color: #666;
    margin: 50px 0;
    font-family: arial;
}