.dino {
    position: absolute;
    bottom: 0;
    background-image: url(assets/dino.png);
    width: 60px;
    height: 60px;
}

.cactus {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: url(assets/cactus.png);
}